html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  padding: 1rem;
  width: 70%;
  height: 70vh;
  background-color: #eee;
  margin: 10rem auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1.6fr 3fr 1fr;
  grid-gap: 1rem;
}

.item {
  background-color: orange;

  &--1 {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  &--6 {
    grid-row: 2/-2;
    grid-column: -2/-1;
  }

  &--5 {
    grid-row: -3/-2;
    grid-column: 1/4;
  }

  &--7 {
    grid-column: 1/-1;
  }
}
