html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  padding: 1rem;
  width: 70%;
  height: 70vh;
  background-color: #eee;
  margin: 10rem auto;

  display: grid;
  grid-template-columns: repeat(4, [grid-start] 1fr [grid-end]);
  grid-template-rows: [header-start] 1fr [header-end box-start] 1.6fr [box-end menu-start] 3fr [menu-end footer-start] 1fr [footer-end];
  grid-gap: 1rem;
}

.item {
  background-color: orange;

  &--1 {
    grid-column: grid-start 1 / grid-end -1;
  }

  &--6 {
    grid-column: grid-end -2 / grid-end -1;
    grid-row: header-end / footer-end;
  }

  &--5 {
    grid-column: grid-start 1 / grid-start -1;
  }

  &--7 {
    grid-column: grid-start 1 / grid-start -1;
  }
}
